<!DOCTYPE html>
<html lang="es" ng-app = "gestor">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>.: Registrar consulta externa :.</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="bower_components/bootstrap/dist/css/signin.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>
<body>
<header>
    <div ng-include="'includes/topNavBar.html'"></div>
</header>
<div class="container" ng-controller="expedientes as expediente">
    <section id="listaExpedientes">
        <div class="panel panel-default" ng-controller="clasesController">
            <div class="panel-heading" >
                Buscar: <input ng-model="query">
                <div class="pull-right"><button class="glyphicon glyphicon-chevron-up {{showHideUp}}" id="up"  ng-click="ocultarPanel()"></button></div>
                <div class="pull-right"><button class="glyphicon glyphicon-chevron-down {{showHideDown}}" id="down" ng-click="mostrarPanel()"></button></div>
            </div>

            <div class="panel-body {{showHidepanel}}">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>C. Paciente</th>
                        <th>Nombre</th>
                        <th>Expediente</th>
                    </tr>
                    <tr ng-repeat="paciente in expediente.pacientes | filter:query">
                        <td>{{paciente.cPaciente}}</td>
                        <td>{{paciente.apaterno}} {{paciente.amaterno}} {{paciente.nombre}} </td>
                        <td>{{paciente.expediente}}</td>
                    </tr>
                    </tbody>
                </table>
                <nav ng-include="'includes/pagination.html'">
                </nav>
            </div>
        </div>
    </section>

    <section id="registrarConsulta">
        <div class="panel panel-default">
            <div class="panel-heading">Consulta externa<div align="right">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </button>
            </div></div>
            <div class="panel-body">
                <form >
                    <div class="row">
                        <div class="col-md-12 bordered" >
                            <label>Expediente</label>
                            <input type="text" name="expediente" placeholder="No. de expediente">
                            <label>Nombre</label>
                            <input type="text" name="nombre" placeholder="Nombre">
                            <label>Fecha de nacimiento</label>
                            <input type="text" name="fNAc" placeholder="Fecha de nacimiento">
                            <label>Genero</label>
                            <input type="text" name="sexo" placeholder="Hombre / Mujer">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 bordered" >
                            <label>Estado</label>
                            <select  ng-controller="catEstados as catalogoe" >
                                <option value="{{estado.nombre}}" ng-repeat="estado in catalogoe.estados">{{estado.nombre}}</option>
                            </select><br>
                            <label>Municipio o Delegación</label>
                            <select  ng-controller="catMunicipios as catalogom" >
                                <option value="{{municipio.nombre}}" ng-repeat="municipio in catalogom.municipios">{{municipio.nombre}}</option>
                            </select><br>
                            <label>Lada</label>
                            <input type="text" name="lada" placeholder="(xxx)" ><br>
                            <br>
                            <label>Telefono 1</label>
                            <input type="text" name="telefono1" placeholder="Telefono 1">
                            <label>Telefono 2</label>
                            <input type="text" name="telefono2" placeholder="Telefono 2">
                        </div>
                        <div class="col-md-6 bordered" ng-controller="funciones">
                            <label>Especialidades</label>
                            <select  ng-controller="catEspecialidades as catalogoEsp" >
                                <option value="{{especialidad.nombre}}" ng-repeat="especialidad in catalogoEsp.especialidades">{{especialidad.nombre}}</option>
                            </select><br>
                            <label>Edad</label>
                            <input type="text" name="edad" size="5"><br>
                            <label>R.F.C.</label>
                            <input type="text" name="RFC" placeholder="RFC">
                            <label>CURP</label>
                            <input type="text" name="CURP" placeholder="CURP">
                            <label>Nivel Soc, Ec.</label>
                            <select  ng-controller="catNivelSocEc as catalogoNivel" >
                                <option value="{{nivel.nombre}}" ng-repeat="nivel in catalogoNivel.niveles">{{nivel.nombre}}</option>
                            </select><br>
                            <label>
                                Fecha de ingreso:
                            </label>
                            Día {{date | date:'dd'}} Mes {{date | date:'MM'}} Año {{date | date:'yyyy'}}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 bordered" >
                            <label>Familiar responsable</label>
                            <input type="text" name="famResp" placeholder="Familiar responsable">
                            <label>Parentesco</label>
                            <input type="text" name="parentesco" placeholder="Parentesco"><br>
                            <label>Procedencia</label>
                            <input type="text" name="procedencia" placeholder="CE">
                            <label>No. de veces internado</label>
                            <input type="text" name="noVecesInternado" placeholder="No. de veces internado">
                            <label>Derecho habiente</label>
                            <input type="text" name="DH" placeholder="Servicio de salud al que pertenece el paciente"><br>
                            <label>Diagnóstico</label>
                            <input type="text" name="diagnostico" placeholder="Asignado por el médico">
                            <label>Cama</label>
                            <input type="text" name="cama" placeholder="No. de cama asignada">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="scripts/menucontroller.js"></script>
<script src="scripts/expedientescontroller.js"></script>
<script src="scripts/coloniasCtrl.js"></script>
<script src="scripts/catMunicipios.js"></script>
<script src="scripts/catEstados.js"></script>
<script src="scripts/catEspecialidades.js"></script>
<script src="scripts/catNivelSocEc.js"></script>
<script src="scripts/clasesCtrl.js"></script>
<script src="scripts/uiCtrl.js"></script>
</body>
</html>